<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(".errors_list_header", count: user.errors.count) %></h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api_key, t(".api_key") %>
    <%= form.text_field :api_key, id: :user_api_key, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :subdomain, t(".subdomain") %>
    <%= form.text_field :subdomain %>
  </div>

  <div class="field">
    <%= form.label :password, t(".password") %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, t(".password_confirmation") %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
