<% content_for :title, "User list" %>
<p id="notice"><%= notice %></p>

<h1>Challonge users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= link_to "Manage this user's tournaments", user_tournaments_refresh_path(user) %></td>
        <td><%= link_to "Show", user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure that you want to delete \"#{user.user_name}\"?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add a user", new_user_path %>
