<p id="notice"><%= notice %></p>

<h1>Challonge users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>API key</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.api_key.truncate 10 %></td>
        <td><%= link_to "Manage this user's tournaments", tournaments_path(user: user.id, refresh: 1) %></td>
        <td><%= link_to "Show", user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure that you want to delete \"#{user.user_name}\"?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add a user", new_user_path %>
