<% content_for :title, @user.user_name %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>API key:</strong>
  <%= @user.api_key %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @user.subdomain %>
</p>

<%= link_to "Edit this user's settings", edit_user_path(@user) %> |
<%= link_to "View this user's tournaments", user_tournaments_path(@user) %> |
<%= link_to "Log out", logout_path, method: :delete %>