<% content_for :title,  t(".page_title", user_name: @user.user_name) %>
<p id="notice"><%= notice %></p>

<h1><%= t(".page_header", user_name: @user.user_name) %></h1>

<p>
  <strong><%= t(".api_key") %></strong>
  <%= @user.api_key %>
</p>

<p>
  <strong><%= t(".subdomain") %></strong>
  <%= @user.subdomain %>
</p>

<%= link_to t("users.edit_user"), edit_user_path(@user) %> |
<%= link_to t(".view_tournaments"), user_tournaments_path(@user) %> |
<%= link_to t("users.log_out"), logout_path, method: :delete %>