<% content_for :title, @user.user_name %>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".user_name") %></strong>
  <%= @user.user_name %>
</p>

<p>
  <strong><%= t(".api_key") %></strong>
  <%= @user.api_key %>
</p>

<p>
  <strong><%= t(".subdomain") %></strong>
  <%= @user.subdomain %>
</p>

<%= link_to t(".edit_user"), edit_user_path(@user) %> |
<%= link_to t(".view_tournaments"), user_tournaments_path(@user) %> |
<%= link_to t("log_out_link"), logout_path, method: :delete %>