<% match = current_match
   left_team = match.get_team(:left)
   right_team = match.get_team(:right)
   left_name = left_team.name
   right_name = right_team.name
   left_score = match.team_score(:left)
   right_score = match.team_score(:right)
   left_color = @tournament.cabinet_color(:left)
   right_color = @tournament.cabinet_color(:right) %>
<h1 class="curr_match_header">
<%= t(".header", number: match.number, round_name: match.round_name(capitalized: false)) %>
</h1>
<p><table>
  <tr>
    <td colspan='2' align="center"><h2 class="curr_match_color"><%= left_color %></h2></td>
    <td></td>
    <td colspan='2' align="center"><h2 class="curr_match_color"><%= right_color %></h2></td>
  </tr>
  <tr>
    <td><h1 class="curr_match_name"><%= left_name %></h1></td>
    <td><h1 class="curr_match_score"><%= left_score %></h1></td>
    <td align="center"><h1 class="curr_match_score">&mdash;</h1></td>
    <td align="right"><h1 class="curr_match_score"><%= right_score %></h1></td>
    <td align="right"><h1 class="curr_match_name"><%= right_name %></h1></td>
  </tr>
  <% if !@tournament.readonly? %>
    <tr>
      <td colspan='2'>
        <%= button_to t(".add_a_win"),
                      user_tournament_match_path(
                        @user, @tournament, match, left_score: left_score + 1,
                        right_score: right_score),
                      method: :put, form_class: :add_subtract_win_form,
                      title: t(".add_a_win_title") %>
        <%= button_to t(".subtract_a_win"),
                      user_tournament_match_path(
                        @user, @tournament, match, left_score: left_score - 1,
                        right_score: right_score),
                      method: :put, form_class: :add_subtract_win_form,
                      title: t(".subtract_a_win_title"),
                      disabled: left_score == 0 %>
        <p>
        <%= button_to t(".match_winner"),
                      user_tournament_match_path(
                        @user, @tournament, match, winner_id: match.get_team_id(:left)),
                      method: :put, title: t(".match_winner_title"),
                      disabled: left_score <= right_score %>
      </td>
      <td valign="top" align="center">
        <%= button_to t(".switch_sides"), [ :switch, @user, @tournament, match ] %>
      </td>
      <td colspan='2' align='right'>
        <%= button_to t(".add_a_win"),
                      user_tournament_match_path(
                        @user, @tournament, match, left_score: left_score,
                        right_score: right_score + 1),
                      method: :put, form_class: :add_subtract_win_form,
                      title: t(".add_a_win_title") %>
        <%= button_to t(".subtract_a_win"),
                      user_tournament_match_path(
                        @user, @tournament, match, left_score: left_score,
                        right_score: right_score - 1),
                      method: :put, form_class: :add_subtract_win_form,
                      title: t(".subtract_a_win_title"),
                      disabled: right_score == 0 %>
        <p>
        <%= button_to t(".match_winner"),
                      user_tournament_match_path(
                        @user, @tournament, match, winner_id: match.get_team_id(:right)),
                      method: :put, title: t(".match_winner_title"),
                      disabled: right_score <= left_score %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan='2' valign="top">
    <% if !@tournament.readonly? %>
      <br>
    <% end %>
      <%= render partial: "tournaments/previous_matches", locals: { team: left_team } %>
    </td>
    <td></td>
    <td></td>
    <td valign="top" style="float:right">
    <% if !@tournament.readonly? %>
      <br>
    <% end %>
      <%= render partial: "tournaments/previous_matches", locals: { team: right_team } %>
    </td>
  </tr>
</table></p>
