<%= form_with(model: tournament, local: true, url: [tournament.user, tournament]) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(".errors_list_header", count: tournament.errors.count) %></h2>
      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.check_box :gold_on_left, id: :tournament_gold_on_left, autofocus: true %>
    <%= form.label :gold_on_left, t(".gold_on_left") %>
  </div>

  <div class="field">
    <%= form.check_box :send_slack_notifications, id: :tournament_send_slack_notifications %>
    <%= form.label :send_slack_notifications, t(".send_slack_notifications") %>
  </div>

  <div class="field">
    <%= form.label :slack_notifications_channel, t(".slack_notifications_channel") %>
    <%= form.text_field :slack_notifications_channel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
