<%= form_with(model: tournament, local: true, url: [tournament.user, tournament]) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prevented this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.check_box :gold_on_left, id: :tournament_gold_on_left, autofocus: true %>
    <%= form.label :gold_on_left, "The Gold cabinet is on the left side" %>
  </div>

  <div class="field">
    <%= form.check_box :send_slack_notifications, id: :tournament_send_slack_notifications %>
    <%= form.label :send_slack_notifications, "Send Slack notifications when matches begin and end" %>
  </div>

  <div class="field">
    <%= form.label :slack_notifications_channel %>
    <%= form.text_field :slack_notifications_channel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
