<%= form_with(model: tournament, local: true, url: [tournament.user, tournament]) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(".errors_list_header", count: tournament.errors.count) %></h2>
      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.check_box :gold_on_left, id: :tournament_gold_on_left, autofocus: true %>
    <%= form.label :gold_on_left, t(".gold_on_left_html"),
                   for: :tournament_gold_on_left, accesskey: t(".gold_on_left_accesskey") %>
  </div>

  <div class="field">
    <%= form.check_box :send_slack_notifications, id: :tournament_send_slack_notifications %>
    <%= form.label :send_slack_notifications, t(".send_slack_notifications_html"),
                   for: :tournament_send_slack_notifications,
                   accesskey: t(".send_slack_notifications_accesskey") %>
  </div>

  <div class="field">
    <%= form.label :slack_notifications_channel, t(".slack_notifications_channel_html"),
                   for: :tournament_slack_notifications_channel,
                   accesskey: t(".slack_notifications_channel_accesskey") %>
    <%= form.text_field :slack_notifications_channel,
                        id: :tournament_slack_notifications_channel %>
  </div>
  <hr>
  <h3><%= t(".alt_names_header") %></h3>
  <p><%= t(".alt_names_instructions_html") %></p>
  <table>
    <thead>
      <tr>
        <th><%= t(".alt_names_th_name") %></th>
        <th><%= t(".alt_names_th_alt_name") %></th>
      </tr>
    </thead>
    <tbody>
      <% tournament.teams.sort_by(&:name).each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td>
            <%= text_field_tag "team_alt_names[]", team.alt_name, id: "alt_name_#{team.id}" %>
            <%= hidden_field_tag "team_ids[]", team.id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <p class="actions">
    <%= form.submit %>
  </p>
<% end %>
