<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :tournament_description %>
  </div>

  <div class="field">
    <%= form.label :challonge_id %>
    <%= form.number_field :challonge_id, id: :tournament_challonge_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tournament_name %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :tournament_state %>
  </div>

  <div class="field">
    <%= form.label :challonge_url %>
    <%= form.text_field :challonge_url, id: :tournament_challonge_url %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tournament_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
