<% show_actions = !(matches.all?(&:complete?) || matches.all?(&:teams_are_tbd?) || matches.any?(&:current_match?)) %>
<table>
  <tr>
    <th>Match #</th>
    <th>Round</th>
    <th>Teams</th>
    <% if show_actions %>
      <th>Actions</th>
    <% end %>
  </tr>
  <% matches.each do |m| %>
  <% if m.get_team_id(:left)
         left_team_name = m.left_team_name

         if m.complete?
             left_team_class = m.left_team_won? ? "winning_team" : "losing_team"
         else
             left_team_class = "upcoming_team"
         end
     else
         winner_or_loser = m.left_team_is_prereq_match_loser? ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.left_team_prereq_match_id).number
         left_team_name = "#{winner_or_loser} of match #{match_num}"
         left_team_class = "tbd_team"
     end
  %>
  <% if m.get_team_id(:right)
         right_team_name = m.right_team_name

         if m.complete?
             right_team_class = m.right_team_won? ? "winning_team" : "losing_team"
         else
             right_team_class = "upcoming_team"
         end
     else
         winner_or_loser = m.right_team_is_prereq_match_loser? ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.right_team_prereq_match_id).number
         right_team_name = "#{winner_or_loser} of match #{match_num}"
         right_team_class = "tbd_team"
     end
  %>
  <tr>
    <td><%= m.number %></td>
    <td><%= m.round_name %></td>
    <td>
      <% if m.complete? %>
        <span class="<%= left_team_class %>"><%= "#{left_team_name} #{m.left_team_score}" %></span> &mdash;
        <span class="<%= right_team_class %>"><%= "#{m.right_team_score} #{right_team_name}" %></span>
      <% else %>
        <span class="<%= left_team_class %>"><%= left_team_name %></span> &mdash;
        <span class="<%= right_team_class %>"><%= right_team_name %></span>
      <% end %>
    </td>
    <% if !(m.complete? || m.teams_are_tbd? || m.current_match?) %>
      <td>
        <%= link_to "Start this match", tournament_start_match_path(m.tournament, match_id: m.challonge_id), method: :post %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
