<% show_actions = !(matches.all?(&:complete?) || matches.all?(&:teams_are_tbd?) || matches.any?(&:current_match?)) %>
<table>
  <tr>
    <th>Match #</th>
    <th>Round</th>
    <th>Teams</th>
    <% if show_actions %>
      <th>Actions</th>
    <% end %>
  </tr>
  <% matches.each do |m| %>
  <% if m.team1_id
         team1_name = m.tournament.teams.find_by_challonge_id(m.team1_id).name
         team1_class = "upcoming_team"
     else
         winner_or_loser = m.team1_is_prereq_match_loser ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.team1_prereq_match_id).number
         team1_name = "#{winner_or_loser} of match #{match_num}"
         team1_class = "tbd_team"
     end
  %>
  <% if m.team2_id
         team2_name = m.tournament.teams.find_by_challonge_id(m.team2_id).name
         team2_class = "upcoming_team"
     else
         winner_or_loser = m.team2_is_prereq_match_loser ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.team2_prereq_match_id).number
         team2_name = "#{winner_or_loser} of match #{match_num}"
         team2_class = "tbd_team"
     end
  %>
  <tr>
    <td><%= m.number %></td>
    <td>
      <%= if m.tournament.tournament_type == "double elimination"
              winners_or_losers = m.round > 0 ? "Winners'" : "Losers'"
              "#{winners_or_losers} round #{m.round.abs}"
          else
              "Round #{m.round.abs}"
          end
      %>
    </td>
    <td>
      <% if m.complete? %>
        <% team1_class = m.team1_won? ? "winning_team" : "losing_team"
           team2_class = m.team2_won? ? "winning_team" : "losing_team"
        %>
        <span class="<%= team1_class %>"><%= "#{team1_name} #{m.team1_score}" %></span> -
        <span class="<%= team2_class %>"><%= "#{m.team2_score} #{team2_name}" %></span>
      <% else %>
        <span class="<%= team1_class %>"><%= team1_name %></span> -
        <span class="<%= team2_class %>"><%= team2_name %></span>
      <% end %>
    </td>
    <td>
      <% if !(m.complete? || m.teams_are_tbd? || m.current_match?) %>
        <%= link_to "Start this match", tournament_start_match_path(m.tournament, match_id: m.challonge_id), method: :post %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
