<% show_actions = !(readonly || match_list.all?(&:complete?) || match_list.all?(&:teams_are_tbd?)) %>
<table id="<%= table_id %>">
<thead>
  <tr>
    <th><%= t(".match_number") %></th>
    <th><%= t(".round") %></th>
    <th><%= t(".teams") %></th>
    <% if show_actions %>
      <th><%= t(".actions") %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% match_list.each do |m| %>
  <% if m.get_team_id(:left)
         left_team_name = m.team_name(:left)
         left_team_won = m.team_won?(:left)

         if m.complete?
             left_team_class = left_team_won ? "winning_team" : "losing_team"
         else
             left_team_class = "upcoming_team"
         end

         if !left_team_won && m.forfeited
             left_team_class << " forfeited_team"
         end
     else
         # In Swiss tournaments, future rounds have matches without any teams or
         # prereqs.  Skip those matches.
         match_num = m.tournament.matches.find_by_challonge_id(m.team_prereq_match_id(:left))&.number
         next unless match_num

         left_team_class = "tbd_team"

         if m.team_is_prereq_match_loser?(:left)
             left_team_name = t(".loser_of_match", number: match_num)
         else
             left_team_name = t(".winner_of_match", number: match_num)
         end
     end
  %>
  <% if m.get_team_id(:right)
         right_team_name = m.team_name(:right)
         right_team_won = m.team_won?(:right)

         if m.complete?
             right_team_class = right_team_won ? "winning_team" : "losing_team"
         else
             right_team_class = "upcoming_team"
         end

         if !right_team_won && m.forfeited
             right_team_class << " forfeited_team"
         end
     else
         match_num = m.tournament.matches.find_by_challonge_id(m.team_prereq_match_id(:right)).number
         right_team_class = "tbd_team"

         if m.team_is_prereq_match_loser?(:right)
             right_team_name = t(".loser_of_match", number: match_num)
         else
             right_team_name = t(".winner_of_match", number: match_num)
         end
     end
  %>
  <tr>
    <td><%= m.number %></td>
    <td><%= m.round_name %></td>
    <td>
      <% if m.complete? %>
        <span class="<%= left_team_class %>"><%= left_team_name %></span>
        <% if m.forfeited %>
          <% if !left_team_won %>
            <span class="forfeited_score"><%= t(".forfeited") %></span>
          <% end %>
        <% else %>
          &nbsp;<span class="<%= left_team_class %>"><%= m.team_score(:left) %></span>
        <% end %>
        &mdash;
        <% if m.forfeited %>
          <% if !right_team_won %>
            <span class="forfeited_score"><%= t(".forfeited") %></span>
          <% end %>
        <% else %>
          <span class="<%= right_team_class %>"><%= m.team_score(:right) %></span>&nbsp;
        <% end %>
        <span class="<%= right_team_class %>"><%= right_team_name %></span>
      <% else %>
        <span class="<%= left_team_class %>"><%= left_team_name %></span> &mdash;
        <span class="<%= right_team_class %>"><%= right_team_name %></span>
      <% end %>
    </td>
    <% if show_actions && !(m.complete? || m.teams_are_tbd?) %>
      <td>
        <%= link_to t(".start_this_match"), [ :start, @user, @tournament, m ], method: :post %> |
        <%= link_to t(".switch_sides"), [ :switch, @user, @tournament, m ], method: :post %>
      </td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
