<% show_actions = !(readonly || match_list.all?(&:complete?) || match_list.all?(&:teams_are_tbd?) || match_list.any?(&:current_match?)) %>
<table>
  <tr>
    <th>Match #</th>
    <th>Round</th>
    <th>Teams</th>
    <% if show_actions %>
      <th>Actions</th>
    <% end %>
  </tr>
  <% match_list.each do |m| %>
  <% if m.get_team_id(:left)
         left_team_name = m.team_name(:left)
         left_team_won = m.team_won?(:left)

         if m.complete?
             left_team_class = left_team_won ? "winning_team" : "losing_team"
         else
             left_team_class = "upcoming_team"
         end

         if !left_team_won && m.forfeited
             left_team_class << " forfeited_team"
         end
     else
         winner_or_loser = m.left_team_is_prereq_match_loser? ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.left_team_prereq_match_id).number
         left_team_name = "#{winner_or_loser} of match #{match_num}"
         left_team_class = "tbd_team"
     end
  %>
  <% if m.get_team_id(:right)
         right_team_name = m.team_name(:right)
         right_team_won = m.team_won?(:right)

         if m.complete?
             right_team_class = right_team_won ? "winning_team" : "losing_team"
         else
             right_team_class = "upcoming_team"
         end

         if !right_team_won && m.forfeited
             right_team_class << " forfeited_team"
         end
     else
         winner_or_loser = m.right_team_is_prereq_match_loser? ? "Loser" : "Winner"
         match_num = m.tournament.matches.find_by_challonge_id(m.right_team_prereq_match_id).number
         right_team_name = "#{winner_or_loser} of match #{match_num}"
         right_team_class = "tbd_team"
     end
  %>
  <tr>
    <td><%= m.number %></td>
    <td><%= m.round_name %></td>
    <td>
      <% if m.complete? %>
        <span class="<%= left_team_class %>"><%= left_team_name %></span>
        <% if m.forfeited %>
          <% if !left_team_won %>
            <span class="forfeited_score">(forfeited)</span>
          <% end %>
        <% else %>
          &nbsp;<span class="<%= left_team_class %>"><%= m.team_score(:left) %></span>
        <% end %>
        &mdash;
        <% if m.forfeited %>
          <% if !right_team_won %>
            <span class="forfeited_score">(forfeited)</span>
          <% end %>
        <% else %>
          <span class="<%= right_team_class %>"><%= m.team_score(:right) %></span>&nbsp;
        <% end %>
        <span class="<%= right_team_class %>"><%= right_team_name %></span>
      <% else %>
        <span class="<%= left_team_class %>"><%= left_team_name %></span> &mdash;
        <span class="<%= right_team_class %>"><%= right_team_name %></span>
      <% end %>
    </td>
    <% if show_actions && !(m.complete? || m.teams_are_tbd? || m.current_match?) %>
      <td>
      <%= link_to "Switch sides", [ :switch, @user, @tournament, m ], method: :post %> |
      <%= link_to "Start this match", [ :start, @user, @tournament, m ], method: :post %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
