<% content_for :title, t(".page_title", user_name: @user.user_name) %>
<p id="notice"><%= notice %></p>
<h1><%= t(".page_header", user_name: @user.user_name) %></h1>
<p><%= t(".instructions1_html") %></p>
<p><%= t(".instructions2") %></p>
<p><%= t(".instructions3_html") %></p>

<% if @user.show_quick_start %>
<hr>
<div id='quick_start'>
<h3><%= t(".quick_start_header") %></h3>
<p><%= t(".quick_start_body_html") %></p>
<p>
<%= button_to t(".quick_start_button"), user_demo_path(@user), form_class: :quick_start_form %>
<%= button_to t(".hide_quick_start_button"), user_hidedemo_path(@user), form_class: :quick_start_form %>
</p>
</div>
<hr>
<% end %>

<% if @tournaments.present? %>
<p>
<table id='tournament_list'>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".state") %></th>
      <th><%= t(".actions") %></th>
      <th><%= t(".links") %></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr id="tournament<%= tournament.id %>">
        <td><%= tournament.subdomain.present? ? t(".name_with_subdomain", name: tournament.name, subdomain: tournament.subdomain) : tournament.name %></td>
        <td><%= tournament.state_name %></td>
        <td>
          <%= link_to t(".manage_tournament"), [ :refresh, @user, tournament ] %> |
          <%= link_to t("tournaments.edit_tournament"), [ :edit, @user, tournament ] %>
        </td>
        <td>
          <%= link_to t(".challonge"), tournament.challonge_url, target: :_blank %> |
          <%= link_to t(".spectator_view"), view_tournament_path(tournament.challonge_alphanumeric_id), target: :_blank %> |
          <%= link_to t(".kiosk"), tournament_kiosk_path(tournament.challonge_alphanumeric_id), target: :_blank %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>
<% end %>
<p>
<%= link_to t(".reload_tournaments"), refresh_user_tournaments_path(@user) %> |
<%= link_to t("users.edit_user"), edit_user_path(@user) %> |
<%= link_to t("users.log_out"), logout_path, method: :delete %>
</p>
