<p id="notice"><%= notice %></p>

<h1>Challonge tournaments owned by <%= @user_name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Challonge URL</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= link_to tournament.challonge_url, tournament.challonge_url, target: :_blank %></td>
        <td><%= tournament.state.gsub("_", " ") %></td>
        <td><%= link_to "Manage this tournament", tournament_path(tournament, refresh: 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to "Reload the tournament list from Challonge", tournament_index_path(user: @user_id, refresh: 1) %> |
<%= link_to "Back to the user list", users_path %>
</p>
