<p id="notice"><%= notice %></p>

<h1>Challonge tournaments owned by <%= @tournaments.first.user.user_name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.state %></td>
        <td><%= link_to "Manage this tournament", tournament_path(tournament, refresh: 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
