<% content_for :title, @tournament.name %>
<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present? %>
<hr>
<%= render partial: "current_match", object: current_match.first %>
<% end %>

<% matches = @tournament.matches.upcoming.reject(&:current_match?) %>
<% if matches.present? %>
  <hr>
  <p><h2>Upcoming matches:</h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<% matches = @tournament.matches.completed %>
<% if matches.present? %>
  <hr>
  <p><h2>Completed matches:</h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<hr>
<p><h2>Team records:</h2>
<table>
<tr>
  <th>Seed</th>
  <th>Team (W-L)</th>
</tr>
<% @tournament.teams.order(seed: :asc).each do |t| %>
  <% num_wins = @tournament.matches.winner(t).count
     num_losses = @tournament.matches.loser(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= "#{t.name} (#{num_wins} - #{num_losses})" %></td>
  </tr>
<% end %>
</table>
</p>

<hr>
<% if !@tournament.readonly? %>
  <%= link_to "Reload this tournament from Challonge", [ :refresh, @user, @tournament ] %> |
  <%= link_to "Edit this tournament's settings", [ :edit, @user, @tournament ] %> |
  <%= link_to "Back to the tournament list", user_tournaments_path(@user) %> |
  <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
