<% content_for :title, @tournament.name %>
<% readonly = @tournament.readonly? %>
<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %></h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.current_match.first %>
<% if current_match.present? %>
<hr>
<%= render partial: "tournaments/current_match", object: current_match %>
<% end %>

<% matches = @tournament.matches.upcoming %>
<% if matches.present? %>
  <hr>
  <p><h2><%= t(".upcoming_matches") %></h2>
  <p><%= render partial: "tournaments/match_list", object: matches, locals: { readonly: readonly } %></p>
<% elsif @tournament.finalizable? && !readonly %>
  <hr>
  <h2><%= t(".finalize_tournament") %></h2>
  <p><%= t(".finalize_text_html") %></p>
  <p><%= button_to t(".finalize_tournament_button"),
                   finalize_user_tournament_path(@user, @tournament) %></p>
<% elsif @tournament.complete? %>
  <hr>
  <h2><%= t(".final_standings") %></h2>
  <table>
    <tr>
      <th><%= t(".place") %></th>
      <th><%= t(".seed") %></th>
      <th><%= t(".name") %></th>
    </tr>
    <% @tournament.teams.order(final_rank: :asc, seed: :asc).each do |t| %>
      <tr>
        <td><%= t.final_rank %></td>
        <td><%= t.seed %></td>
        <td><%= t.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% matches = @tournament.matches.completed %>
<% if matches.present? %>
  <hr>
  <p><h2><%= t(".completed_matches") %></h2>
  <p><%= render partial: "tournaments/match_list", object: matches, locals: { readonly: readonly } %></p>
<% end %>

<hr>
<p><h2><%= t(".team_records") %></h2>
<table>
<tr>
  <th><%= t(".seed") %></th>
  <th><%= t(".record") %></th>
</tr>
<% @tournament.teams.order(seed: :asc).each do |t| %>
  <% num_wins = @tournament.matches.winner_is(t).count
     num_losses = @tournament.matches.loser_is(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= t(".team_record", name: t.name, wins: num_wins, losses: num_losses) %></td>
  </tr>
<% end %>
</table>
</p>

<% if !readonly %>
  <hr>
  <%= link_to t(".reload"), [ :refresh, @user, @tournament ] %> |
  <%= link_to t("tournaments.edit_tournament"), [ :edit, @user, @tournament ] %> |
  <%= link_to t(".tournament_list"), user_tournaments_path(@user) %> |
  <%= link_to t("user.log_out"), logout_path, method: :delete %>
<% end %>
