<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present?
       match = current_match.first %>
<hr>
<p><h1>
Current match: #<%= match.number %>
in <%= match.round_name(capitalized: false) %>
</h1></p>
<p><table>
<tr>
  <td><h1><%= match.team1_name %> <%= match.team1_score %><h1></td>
  <td><h1>&mdash;</h1></td>
  <td><h1><%= match.team2_score %> <%= match.team2_name %></h1></td>
</tr>
<tr>
<td><%= button_to 'Add 1 win', tournament_update_score_path(
                                 @tournament, match_id: match.challonge_id,
                                 team1_score: match.team1_score + 1,
                                 team2_score: match.team2_score) %>
<br>
<%= button_to 'Subtract 1 win', tournament_update_score_path(
                                  @tournament, match_id: match.challonge_id,
                                  team1_score: match.team1_score - 1,
                                  team2_score: match.team2_score),
                                  disabled: match.team1_score == 0 %>
<br>
<%= button_to 'This team won', tournament_update_winner_path(
                                 @tournament, match_id: match.challonge_id,
                                 winner_id: match.team1_id) %>
</td>
<td></td>
<td align='right'>
<%= button_to 'Add 1 win', tournament_update_score_path(
                             @tournament, match_id: match.challonge_id,
                             team1_score: match.team1_score,
                             team2_score: match.team2_score + 1) %>
<br>
<%= button_to 'Subtract 1 win', tournament_update_score_path(
                                  @tournament, match_id: match.challonge_id,
                                  team1_score: match.team1_score,
                                  team2_score: match.team2_score - 1),
                                disabled: match.team2_score == 0 %>
<br>
<%= button_to 'This team won', tournament_update_winner_path(
                                 @tournament, match_id: match.challonge_id,
                                 winner_id: match.team2_id) %>
</td>
</tr>
</table>
</p>
<% end %>

<hr>
<p><h2>Upcoming matches:</h2>
<%= render "match_list", matches: @tournament.matches.upcoming.reject(&:current_match?) %>
</p>

<hr>
<p><h2>Completed matches:</h2>
<%= render "match_list", matches: @tournament.matches.completed %>
</p>

<hr>
<p><h2>Team records:</h2>
<ul>
  <% @tournament.teams.order(seed: :asc).each do |t| %>
    <% num_wins = @tournament.matches.winner?(t.challonge_id).count
       num_losses = @tournament.matches.loser?(t.challonge_id).count
    %>
    <li><%= "(#{t.seed}) #{t.name} (#{num_wins} - #{num_losses})" %></li>
  <% end %>
</ul>
</p>

<hr>
<%= link_to "Reload this tournament from Challonge", tournament_path(@tournament, refresh: 1) %> |
<%= link_to "Back to the tournament list", tournament_index_path(user: @tournament.user.id) %>
