<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<p>
  <strong>Challonge ID:</strong>
  <%= @tournament.challonge_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @tournament.state %>
</p>

<p>
  <strong>Challonge URL:</strong>
  <%= @tournament.challonge_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @tournament.user.user_name %>
</p>

<p><strong>Teams:</strong>
<ul>
  <% @tournament.teams.order(seed: :asc).each do |t| %>
    <li>(<%= t.seed %>) <%= t.name %></li>
  <% end %>
</ul>
</p>

<p><strong>Matches:</strong>
<ul>
  <% @tournament.matches.order(suggested_play_order: :asc).each.with_index(1) do |m, i| %>
    <% t1 = @tournament.teams.find_by(challonge_id: m.team1_id) %>
    <% t2 = @tournament.teams.find_by(challonge_id: m.team2_id) %>
    <li>
        #<%= i %> - <%= "(#{t1.seed})" if t1 %> <%= t1&.name || "TBD" %> vs.
        <%= "(#{t2.seed})" if t2 %> <%= t2&.name || "TBD" %> -
        round <%= m.round %>
    </li>
  <% end %>
</ul>
</p>

<%= link_to 'Back', tournament_index_path(user: @tournament.user.id) %>
