<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present?
       match = current_match.first %>
<hr>
<p><h1>
Current match: #<%= match.number %>
in <%= match.round_name(capitalized: false) %>
</h1></p>
<p>
<table>
<tr>
  <td align="center"><h2><%= match.left_cabinet_color %></h2></td>
  <td></td>
  <td align="center"><h2><%= match.right_cabinet_color %></h2></td>
</tr>
<tr>
  <td><h1><%= match.left_team_name %> <%= match.left_team_score %><h1></td>
  <td align="center"><h1>&mdash;</h1></td>
  <td align="right"><h1><%= match.right_team_score %> <%= match.right_team_name %><h1></td>
</tr>
<tr>
<td><%= button_to 'Add 1 win', tournament_update_score_path(
                                 @tournament, match_id: match.challonge_id,
                                 left_score: match.left_team_score + 1,
                                 right_score: match.right_team_score) %>
<br>
<%= button_to 'Subtract 1 win', tournament_update_score_path(
                                  @tournament, match_id: match.challonge_id,
                                  left_score: match.left_team_score - 1,
                                  right_score: match.right_team_score),
                                disabled: match.left_team_score == 0 %>
<br>
<%= button_to 'This team won', tournament_update_winner_path(
                                 @tournament, match_id: match.challonge_id,
                                 winner_id: match.get_team_id(:left)),
                               disabled: match.left_team_score <= match.right_team_score %>
</td>
<td valign="top" align="center">
<%= button_to "Switch sides",
              tournament_switch_sides_path(
                @tournament, match_id: match.challonge_id) %>
</td>
<td align='right'>
<%= button_to 'Add 1 win', tournament_update_score_path(
                             @tournament, match_id: match.challonge_id,
                             left_score: match.left_team_score,
                             right_score: match.right_team_score + 1) %>
<br>
<%= button_to 'Subtract 1 win', tournament_update_score_path(
                                  @tournament, match_id: match.challonge_id,
                                  left_score: match.left_team_score,
                                  right_score: match.right_team_score - 1),
                                disabled: match.right_team_score == 0 %>
<br>
<%= button_to 'This team won', tournament_update_winner_path(
                                 @tournament, match_id: match.challonge_id,
                                 winner_id: match.get_team_id(:right)),
                               disabled: match.right_team_score <= match.left_team_score %>
</td>
</tr>
</table>
</p>
<% end %>

<hr>
<p><h2>Upcoming matches:</h2>
<%= render "match_list", matches: @tournament.matches.upcoming.reject(&:current_match?) %>
</p>

<hr>
<p><h2>Completed matches:</h2>
<%= render "match_list", matches: @tournament.matches.completed %>
</p>

<hr>
<p><h2>Team records:</h2>
<ul>
  <% @tournament.teams.order(seed: :asc).each do |t| %>
    <% num_wins = @tournament.matches.winner?(t).count
       num_losses = @tournament.matches.loser?(t).count
    %>
    <li><%= "(#{t.seed}) #{t.name} (#{num_wins} - #{num_losses})" %></li>
  <% end %>
</ul>
</p>

<hr>
<%= link_to "Reload this tournament from Challonge", tournament_path(@tournament, refresh: 1) %> |
<%= link_to "Back to the tournament list", tournament_index_path(user: @tournament.user.id) %>
