<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present?
       match = current_match.first %>
<hr>
<p><h1>
Current match: #<%= match.number %>
in <%= match.round_name(capitalized: false) %>
</h1></p>
<p>
<table>
<tr>
  <td align="center"><h2><%= match.left_cabinet_color %></h2></td>
  <td></td>
  <td align="center"><h2><%= match.right_cabinet_color %></h2></td>
</tr>
<tr>
  <td><h1><%= match.left_team_name %> <%= match.left_team_score %><h1></td>
  <td align="center"><h1>&mdash;</h1></td>
  <td align="right"><h1><%= match.right_team_score %> <%= match.right_team_name %><h1></td>
</tr>
<tr>
<td><%= button_to 'Add 1 win', user_tournament_match_path(
                                 @user, @tournament, match,
                                 left_score: match.left_team_score + 1,
                                 right_score: match.right_team_score),
                               method: :put %>
<br>
<%= button_to 'Subtract 1 win', user_tournament_match_path(
                                  @user, @tournament, match,
                                  left_score: match.left_team_score - 1,
                                  right_score: match.right_team_score),
                                method: :put,
                                disabled: match.left_team_score == 0 %>
<br>
<%= button_to 'This team won', user_tournament_match_path(
                                 @user, @tournament, match,
                                 winner_id: match.get_team_id(:left)),
                               method: :put,
                               disabled: match.left_team_score <= match.right_team_score %>
</td>
<td valign="top" align="center">
<%= button_to "Switch sides", [ :switch, @user, @tournament, match ] %>
</td>
<td align='right'>
<%= button_to 'Add 1 win', user_tournament_match_path(
                             @user, @tournament, match,
                             left_score: match.left_team_score,
                             right_score: match.right_team_score + 1),
                           method: :put %>
<br>
<%= button_to 'Subtract 1 win', user_tournament_match_path(
                                  @user, @tournament, match,
                                  left_score: match.left_team_score,
                                  right_score: match.right_team_score - 1),
                                method: :put,
                                disabled: match.right_team_score == 0 %>
<br>
<%= button_to 'This team won', user_tournament_match_path(
                                 @user, @tournament, match,
                                 winner_id: match.get_team_id(:right)),
                               method: :put,
                               disabled: match.right_team_score <= match.left_team_score %>
</td>
</tr>
</table>
</p>
<% end %>

<hr>
<p><h2>Upcoming matches:</h2>
<%= render "match_list", matches: @tournament.matches.upcoming.reject(&:current_match?) %>
</p>

<hr>
<p><h2>Completed matches:</h2>
<%= render "match_list", matches: @tournament.matches.completed %>
</p>

<hr>
<p><h2>Team records:</h2>
<table>
<tr>
  <th>Seed</th>
  <th>Team (W-L)</th>
</tr>
<% @tournament.teams.order(seed: :asc).each do |t| %>
  <% num_wins = @tournament.matches.winner?(t).count
     num_losses = @tournament.matches.loser?(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= "#{t.name} (#{num_wins} - #{num_losses})" %></td>
  </tr>
<% end %>
</table>
</p>

<hr>
<%= link_to "Reload this tournament from Challonge", [ :refresh, @user, @tournament ] %> |
<%= link_to "Switch the cabinet positions", [ :switch, @user, @tournament ],
            method: :post %> |
<%= link_to "Back to the tournament list", user_tournaments_path(@user) %>
