<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present? %>
<hr>
<p><h2>
Current match: #<%= current_match.first.number %>
in <%= current_match.first.round_name(capitalized: false) %></h2>
<%= render "match_list", matches: current_match %>
</p>
<% end %>

<hr>
<p><h2>Upcoming matches:</h2>
<%= render "match_list", matches: @tournament.matches.upcoming.reject(&:current_match?) %>
</p>

<hr>
<p><h2>Completed matches:</h2>
<%= render "match_list", matches: @tournament.matches.completed %>
</p>

<hr>
<p><h2>Team records:</h2>
<ul>
  <% @tournament.teams.order(seed: :asc).each do |t| %>
    <% num_wins = @tournament.matches.winner?(t.challonge_id).count
       num_losses = @tournament.matches.loser?(t.challonge_id).count
    %>
    <li><%= "(#{t.seed}) #{t.name} (#{num_wins} - #{num_losses})" %></li>
  <% end %>
</ul>
</p>

<hr>
<%= link_to "Reload this tournament from Challonge", tournament_path(@tournament, refresh: 1) %> |
<%= link_to "Back to the tournament list", tournament_index_path(user: @tournament.user.id) %>
