<% content_for :title, @tournament.name %>
<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present?
       match = current_match.first %>
<hr>
<p><h1>
Current match: #<%= match.number %>
in <%= match.round_name(capitalized: false) %>
</h1></p>
<p>
<table>
<tr>
  <td colspan='2' align="center"><h2><%= @tournament.cabinet_color(:left) %></h2></td>
  <td></td>
  <td colspan='2' align="center"><h2><%= @tournament.cabinet_color(:right) %></h2></td>
</tr>
<tr>
  <td><h1><%= match.team_name(:left) %><h1></td>
  <td><h1><%= match.team_score(:left) %><h1></td>
  <td align="center"><h1>&mdash;</h1></td>
  <td align="right"><h1><%= match.team_score(:right) %><h1></td>
  <td align="right"><h1><%= match.team_name(:right) %><h1></td>
</tr>
<% if !@tournament.readonly? %>
<tr>
<td colspan='2'>
<%= button_to 'Add 1 win', user_tournament_match_path(
                             @user, @tournament, match,
                             left_score: match.team_score(:left) + 1,
                             right_score: match.team_score(:right)),
                           method: :put %>
<br>
<%= button_to 'Subtract 1 win', user_tournament_match_path(
                                  @user, @tournament, match,
                                  left_score: match.team_score(:left) - 1,
                                  right_score: match.team_score(:right)),
                                method: :put,
                                disabled: match.team_score(:left) == 0 %>
<br>
<%= button_to 'This team won', user_tournament_match_path(
                                 @user, @tournament, match,
                                 winner_id: match.get_team_id(:left)),
                               method: :put,
                               disabled: match.team_score(:left) <= match.team_score(:right) %>
</td>
<td valign="top" align="center">
<%= button_to "Switch sides", [ :switch, @user, @tournament, match ] %>
</td>
<td colspan='2' align='right'>
<%= button_to 'Add 1 win', user_tournament_match_path(
                             @user, @tournament, match,
                             left_score: match.team_score(:left),
                             right_score: match.team_score(:right) + 1),
                           method: :put %>
<br>
<%= button_to 'Subtract 1 win', user_tournament_match_path(
                                  @user, @tournament, match,
                                  left_score: match.team_score(:left),
                                  right_score: match.team_score(:right) - 1),
                                method: :put,
                                disabled: match.team_score(:right) == 0 %>
<br>
<%= button_to 'This team won', user_tournament_match_path(
                                 @user, @tournament, match,
                                 winner_id: match.get_team_id(:right)),
                               method: :put,
                               disabled: match.team_score(:right) <= match.team_score(:left) %>
</td>
</tr>
<% end %>
<tr>
  <td colspan='2' valign="top">
    <br><br><%= render partial: "previous_matches", locals: { team: match.get_team(:left) } %>
  </td>
  <td></td>
  <td></td>
  <td valign="top" style="float:right">
    <br><br><%= render partial: "previous_matches", locals: { team: match.get_team(:right) } %>
  </td>
</tr>
</table>
</p>
<% end %>

<% matches = @tournament.matches.upcoming.reject(&:current_match?) %>
<% if matches.present? %>
  <hr>
  <p><h2>Upcoming matches:</h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<% matches = @tournament.matches.completed %>
<% if matches.present? %>
  <hr>
  <p><h2>Completed matches:</h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<hr>
<p><h2>Team records:</h2>
<table>
<tr>
  <th>Seed</th>
  <th>Team (W-L)</th>
</tr>
<% @tournament.teams.order(seed: :asc).each do |t| %>
  <% num_wins = @tournament.matches.winner?(t).count
     num_losses = @tournament.matches.loser?(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= "#{t.name} (#{num_wins} - #{num_losses})" %></td>
  </tr>
<% end %>
</table>
</p>

<hr>
<% if !@tournament.readonly? %>
  <%= link_to "Reload this tournament from Challonge", [ :refresh, @user, @tournament ] %> |
  <%= link_to "Edit this tournament's settings", [ :edit, @user, @tournament ] %> |
  <%= link_to "Back to the tournament list", user_tournaments_path(@user) %> |
  <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
