<% content_for :title, @tournament.name %>
<% readonly = @tournament.readonly? %>
<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %></h1>
<h3><%= t(".bracket") %> <%= link_to nil, @tournament.challonge_url, target: :_blank %></h3>

<% if !readonly %>
  <h4>
    <%= t(".spectator_view") %>
    <%= link_to nil, view_tournament_url(@tournament.challonge_alphanumeric_id), target: :_blank %>
    <br>
    <%= t(".kiosk_view") %>
    <%= link_to nil, tournament_kiosk_url(@tournament.challonge_alphanumeric_id), target: :_blank %>
  </h4>
<% end %>

<% if @current_match.present? %>
  <hr>
  <%= render partial: "tournaments/current_match", object: @current_match %>
<% end %>

<% if @upcoming_matches.present? %>
  <hr>
  <p><h2><%= t(".upcoming_matches") %></h2>
  <p><%= render partial: "tournaments/match_list", object: @upcoming_matches, locals: { readonly: readonly } %></p>
<% elsif @tournament.finalizable? %>
  <% if !readonly %>
    <hr>
    <h2><%= t(".finalize_tournament") %></h2>
    <p><%= t(".finalize_text_html") %></p>
    <p><%= button_to t(".finalize_tournament_button"),
                     finalize_user_tournament_path(@user, @tournament) %></p>
  <% end %>
<% elsif @tournament.complete? %>
  <hr>
  <h2><%= t(".final_standings") %></h2>
  <table>
    <tr>
      <th><%= t(".place") %></th>
      <th><%= t(".seed") %></th>
      <th><%= t(".name") %></th>
    </tr>
    <% @teams_in_final_rank_order.each do |t| %>
      <tr>
        <td><%= t.final_rank %></td>
        <td><%= t.seed %></td>
        <td><%= t.name %></td>
      </tr>
    <% end %>
  </table>
<% elsif @tournament.in_group_stage? %>
  <hr>
  <h2><%= t(".group_stage_end") %></h2>
  <% if readonly %>
    <p><%= t(".group_stage_end_text_readonly") %></p>
  <% else %>
    <p><%= t(".group_stage_end_text_html", bracket_url: @tournament.challonge_url,
             refresh_url: refresh_user_tournament_path(@user, @tournament)) %></p>
  <% end %>
<% end %>

<% if @completed_matches.present? %>
  <hr>
  <p><h2><%= t(".completed_matches") %></h2>
  <p><%= render partial: "tournaments/match_list", object: @completed_matches, locals: { readonly: readonly } %></p>
<% end %>

<hr>
<p><h2><%= t(".team_records") %></h2>
<table>
<tr>
  <th><%= t(".seed") %></th>
  <th><%= t(".record") %></th>
</tr>
<% @teams_in_seed_order.each do |t| %>
  <% num_wins = @tournament.matches.winner_is(t).count
     num_losses = @tournament.matches.loser_is(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= t(".team_record", name: t.name, wins: num_wins, losses: num_losses) %></td>
  </tr>
<% end %>
</table>
</p>

<% if !readonly %>
  <hr>
  <%= link_to t(".reload"), [ :refresh, @user, @tournament ] %> |
  <%= link_to t("tournaments.edit_tournament"), [ :edit, @user, @tournament ] %> |
  <%= link_to t(".tournament_list"), user_tournaments_path(@user) %> |
  <%= link_to t("user.log_out"), logout_path, method: :delete %>
<% end %>
