<% content_for :title, @tournament.name %>
<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %><h1>
<h3><%= link_to @tournament.challonge_url, @tournament.challonge_url, target: :_blank %></h3>

<% current_match = @tournament.matches.upcoming.select(&:current_match?) %>
<% if current_match.present? %>
<hr>
<%= render partial: "current_match", object: current_match.first %>
<% end %>

<% matches = @tournament.matches.upcoming.reject(&:current_match?) %>
<% if matches.present? %>
  <hr>
  <p><h2><%= t(".upcoming_matches") %></h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<% matches = @tournament.matches.completed %>
<% if matches.present? %>
  <hr>
  <p><h2><%= t(".completed_matches") %></h2>
  <p><%= render partial: "match_list", object: matches, locals: { readonly: @tournament.readonly? } %></p>
<% end %>

<hr>
<p><h2><%= t(".team_records") %></h2>
<table>
<tr>
  <th><%= t(".seed") %></th>
  <th><%= t(".record") %></th>
</tr>
<% @tournament.teams.order(seed: :asc).each do |t| %>
  <% num_wins = @tournament.matches.winner_is(t).count
     num_losses = @tournament.matches.loser_is(t).count
  %>
  <tr>
    <td><%= t.seed %></td>
    <td><%= t(".team_record", name: t.name, wins: num_wins, losses: num_losses) %></td>
  </tr>
<% end %>
</table>
</p>

<hr>
<% if !@tournament.readonly? %>
  <%= link_to t(".reload"), [ :refresh, @user, @tournament ] %> |
  <%= link_to t("tournaments.edit_tournament"), [ :edit, @user, @tournament ] %> |
  <%= link_to t(".tournament_list"), user_tournaments_path(@user) %> |
  <%= link_to t("user.log_out"), logout_path, method: :delete %>
<% end %>
