<!DOCTYPE html>
<html>
  <head>
    <%= yield(:refresh_tag) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t("browser_title_kiosk", title: yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="kioskbody">
    <%= yield %>
  </body>
</html>
